.wrapper {

    .inner {

        .NEWSROOM {
            .min--height {
                min-height: 220px;
            }

            padding: 46px 0px;

            h2 {
                font-size: 56px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: -1px;
                text-align: center;
                margin: 0;
                padding-bottom: 24px;
            }

            .content--text {
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: 0px;
                margin: 24px 0px 13px 0px;
            }

            .time {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                display: flex;
                align-items: center;
                color: #7E8492;

                img {
                    margin-right: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .min--height {
        min-height: 240px !important;
    }
}

@media screen and (max-width: 992px) {
    .NEWSROOM {
        padding: 20px 10px !important;
    }

    .content--text {
        font-size: 16px !important;
    }

    .min--height {
        min-height: 270px !important;
    }
}

@media screen and (max-width: 576px) {
    .NEWSROOM {
        padding: 40px 20px !important;
    }

    .min--height {
        min-height: 220px !important;
    }
}