.wrapper {
    padding: 0px 10px;

    .from--menu--footer--profile {
        position: fixed;
        bottom: 0;
        min-width: 100vw;
        background: #fff;
        left: 0;
        padding: 5px 0px;
        font-size: 18px;
        font-weight: 600;
        display: none;

        .menu-footer--profile {
            text-align: center;
            margin: 0px 5px;
            font-size: 16px;
            font-weight: 400;

            &.active {
                background: #FFD102 !important;
                border-radius: 6px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .from--menu--footer--profile {
        display: block !important;
    }

    .sideBar--Profile {
        display: none;
    }
}