.wrapper {

    .inner {

        .half {
            padding: 24px 32px;
            border-radius: 16px;
            border: 2px solid #000000;
            background: #fff;
        }

        .elm {
            border: 2px solid #000000;
            background: #fff;
        }

        .outLine {
            border-radius: 16px;
            background: #fff;
            padding: 30px 15px;
        }
    }
}