.wrapper {

    .inner {

        .half {
            padding: 24px 32px;
            border-radius: 16px;
            border: 2px solid #000000;
            background: #fff;
        }

        .elm {
            border: 2px solid #000000;
            background: #fff;
        }

        .outLine {
            border-radius: 16px;
            background: #fff;
            padding: 30px 15px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .process {
        min-height: 445px;
    }

}


@media screen and (max-width: 1200px) {
    .process {
        min-height: 400px;
    }

}

@media screen and (max-width: 992px) {
    .process {
        min-height: auto;
    }

}