.wrapper {

    .inner {

        .BabbuCommunity {
            padding: 46px 0px;

            h2 {
                font-size: 56px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: -1px;
                text-align: center;

            }

            .size {
                margin: 0px 175px;

                img {
                    width: 100%;
                    transition: filter .45s cubic-bezier(.3, .4, .1, 1), opacity .45s cubic-bezier(.3, .4, .1, 1);
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    opacity: 0.55;
                    transition: 0.7s;

                    &:hover {
                        opacity: 1;
                        filter: none;
                        -webkit-filter: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .size {
        margin: 0px 75px !important;
    }
}