.wrapper {

    .inner {
        font-family: Ruberoid;

        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 24px;

            span {
                font-size: 24px;
                font-weight: 700;
                line-height: 35px;
                letter-spacing: 0px;
                text-align: center;
            }

            .title--banner--buyNow {
                font-size: 36px;
                font-weight: 800;
                line-height: 36px;
                letter-spacing: 0px;
                text-align: center;

            }
        }

        .box--main--BUCOIN {
            background: #fff;
            padding: 24px;
            border-radius: 12px;
            box-shadow: 0px 4px 0px 0px #0000001A;
            border: 2px solid #000000;

            .title--icont {
                font-size: 24px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: -0.72px;
                display: flex;
                align-items: center;

                span {
                    margin: 0px 6px;
                }
            }

            .communication {
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                margin: 26px 0px 12px 0px;

                strong {
                    color: #FF950D;
                }
            }

            .countdown--box {

                .box--time--countdown {
                    background: #FFFAD9;
                    border: 2px solid #F6B200;
                    padding: 5px 6px;
                    border-radius: 6px;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .raised {
                margin: 12px 0px 0px 0px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.02em;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .progress-- {
                height: 32px;
                border-radius: 6px;
                margin-top: 12px;
                border: 2px solid #000000;
            }

            .text-progress {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;

                padding: 6px 32px;
                position: absolute;
                top: 0;
            }

            .btn-coppy {
                border-radius: 12px;
                background: var(--Backgraond, #000);
                padding: 6px 12px;
                color: var(--1244, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 12px 0px 0px 0px;
            }

            .color-strong {
                color: #F5A60A;
            }

            .line--BUCOIN--option {
                margin: 30px 0px 16px 0px;

                .line--elm {
                    text-align: center;
                    position: relative;
                    z-index: 0;

                    span {
                        padding: 0px 5px;
                        font-size: 18px;
                        font-weight: 600;
                        color: var(--black);
                        background: #fff;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        right: 0%;
                        top: 50%;
                        border: 1px solid #CED1D8;
                        z-index: -1;
                    }
                }

            }

            .exchange {
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: -0.01em;
                color: #6D6F82;

                strong {
                    color: #FF9921;
                }

                .box--input {

                    position: relative;

                    .input--icon--right {
                        padding: 12px 46px 12px 18px;
                        border-radius: 6px;
                        border: 2px solid #000000;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: -0.02em;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                    }

                    .icon--input {
                        position: absolute;
                        right: 20px;
                        top: 14px;
                        width: 24px;
                        height: 24px;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .title {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 576px) {
    .title {
        margin-top: 50px;
    }
}

@media screen and (max-width: 425px) {
    .box--main--BUCOIN {
        padding: 13px !important;
    }

    .title--icont {
        font-size: 20px !important;
    }
}